{
  "connector.class": "io.debezium.connector.jdbc.JdbcSinkConnector",
  "tasks.max": "1",
  "topics": "oracle-cdc.APPUSER.CUSTOMERS",
  "connection.url": "jdbc:postgresql://target-db:5432/${TARGET_DB_NAME}",
  "connection.username": "${TARGET_DB_USER}",
  "connection.password": "${TARGET_DB_PASSWORD}",
  "insert.mode": "upsert",
  "primary.key.mode": "record_key",
  "schema.evolution": "basic",
  "table.name.format": "cdc_landing.customers",
  "delete.enabled": "true"
}
